<div class="entry margin">
<div>{{date}}</div>

<div>
<p><a href="https://github.com/hash-uri/hash-uri">Hash URIs</a>:</p>
<ul>{{hash-uri-list}}</ul>
</div>

<div>
<p><a href="https://tools.ietf.org/html/rfc6920">Named Info</a>:</p>
<ul>{{named-info-list}}</ul>
</div>

<div>
<p><a href="https://github.com/jbenet/multihash">MultiHashes</a>:</p>
<ul>{{multihash-list}}</ul>
</div>

<div>
<p><a href="https://www.w3.org/TR/SRI">Subresource Integrity</a>:</p>
<ul>{{prefix-list}}</ul>
</div>

<div>{{dates}}</div>
</div>

